<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/head', {title: 'Home'})%> 
<body>
    <%-include('./partials/header')%> 

    <div >
        <h2>Participantes</h2>
        <% let ids = []; %> 
        <% groupAndMembers.map(colectionGroupAndMembers =>{ %> 
            <% ids.push(colectionGroupAndMembers.user_id)%>  
        <% }) %> 

        <% let names = []; %> 
        <%for (let i = 0; i < allUsers.length; i++) { %> 
            <% if (ids.includes(allUsers[i].idUsuario) == true) { %> 
                <% names.push(allUsers[i].name)%> 
            <% }} %> 

        <% for( let i = 0; i < names.length; i++ ) { %>
            <div class="member">
                <p><%= names[i] %> <br> </p>
            </div>
        <% } %>
    </div> 

    <div>
        <% let random = Math.floor(Math.random() * ids.length)%>
        <p>Tu amigo secreto es: <%= names[random] %></p>
    </div>

    <%-include('./partials/footer')%> 
</body>
</html>